# Climate Change Prediction
Main Production-ready code.

In [ ]:
import numpy as np                                # Load the numpy for more advanced mathamatics
import pandas as pd                               # Load the pandas for preprocessing data
import matplotlib as plt                          # Load Matplotlib for graphying and plotting
import copy                                       # Load copy for deep copying data
from sklearn.linear_model import LinearRegression # Load scikit learn for the Linear Regression model

# Data PreProcessing

In [ ]:
df = pd.read_csv('data.csv')    # Load the data.csv
df.head()                       # Show just the head of the data.csv

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,J-D,D-N,DJF,MAM,JJA
1880,-0.20,-0.26,-0.09,-0.17,-0.10,-0.22,-0.20,-0.10,-0.15,-0.23,-0.22,-0.19,-0.18,-0.19,-0.19,-0.12,-0.17,-0.20
1881,-0.20,-0.15,0.02,0.04,0.07,-0.19,0.01,-0.04,-0.16,-0.22,-0.19,-0.07,-0.09,-0.10,-0.18,0.04,-0.07,-0.19
1882,0.16,0.14,0.04,-0.16,-0.14,-0.22,-0.16,-0.07,-0.14,-0.24,-0.17,-0.36,-0.11,-0.09,0.07,-0.08,-0.15,-0.18
1883,-0.29,-0.37,-0.12,-0.18,-0.18,-0.07,-0.07,-0.14,-0.22,-0.12,-0.24,-0.11,-0.18,-0.20,-0.34,-0.16,-0.10,-0.19
1884,-0.13,-0.08,-0.37,-0.40,-0.34,-0.35,-0.31,-0.28,-0.27,-0.25,-0.34,-0.31,-0.29,-0.27,-0.11,-0.37,-0.31,-0.29